@black: #1E2835;
@gray75: #404853;
@gray50: #8E939A;
@gray40: #d0d2d5;
@gray25: #EEEEEF;
@gray15: #F6F7F7;
@gray5: #FAFBFB;
@white: #EBF5EE;

@yellow: #F4D35E;
@yellow125: darken(@yellow, 30%);
@yellow75: mix(@yellow, @white, 75%);
@yellow50: mix(@yellow, @white, 50%);
@yellow25: mix(@yellow, @white, 25%);
@yellow5: mix(@yellow, @white, 7%);

@blue: #083D77;
@blue125: darken(@blue, 10%);
@blue75: mix(@blue, @white, 93%);
@blue50: mix(@blue, @white, 50%);
@blue25: mix(@blue, @white, 25%);
@blue5: mix(@blue, @white, 7%);

// Globals

body, html {
  height: 100%;
  color: @white;
  background-color: @blue75;

  font-size: 1rem;
  line-height: 1.875;
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.02rem;
}

* {
  box-sizing: border-box;
  margin: 0;
}

h1 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 3rem;
}

a {
  color: @yellow75;
  transition: color 0.3s ease-in-out;

  font-weight: bold;
  text-decoration: none;

  &:hover {
    color: @blue125;
  }
}
// Section styling

.head-section {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding: 8rem 0;

  display: flex;
  align-items: center;

  div.intro-head {
    display: inline-block;
    text-align: center;
    width: 100%;
    max-width: 38%;
    margin-right: 2%;

    h1 {
      margin-bottom: -1.3rem;
      margin-top: -1.5rem;
      color: @yellow;
    }

    h2 {
      margin-bottom: -0.5rem;
    }

    h3 {
      font-weight: 400;
    }

    div.intro-social {
      width: 11rem;
      margin: 0 auto;
      margin-top: 0.5rem;

      a {
        margin-right: 1rem;

        &:last-child {
          margin-right: 0rem;
        }
      }
    }
  }

  div.intro-content {
    display: inline-block;
    width: 100%;
    max-width: 60%;

    p {
      margin-bottom: 1rem;
    }

    div.skills-section {
      .skills-lang {
        margin-right: 3rem;
      }

      .skills-lang,
      .skills-framework {
        display: inline-block;
      }

      h3 {
        font-family: 'Work Sans', sans-serif;
        font-weight: 300;
        color: @yellow;
        margin-bottom: 0.3rem;
      }

      img {
        width: 3rem;
        height: 3rem;
        display: inline-block;
        margin-right: 1rem;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.work-section {
  color: @blue;
  background-color: @yellow;
  padding: 6rem 0;

  a {
    color: @blue125;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: @blue50;
    }
  }

  .work-container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;

    h1 {
      margin-bottom: 2rem;
    }

    .proj-container {
      display: flex;
      align-items: center;
      margin-bottom: 4rem;

      h2 {
        font-family: 'Work Sans', sans-serif;
        font-weight: 300;
        font-size: 1.7rem;
        margin-bottom: -0.6rem;
        margin-right: 1.5rem;

        display: inline-block;
      }

      .left {
        margin-right: 4rem;
      }

      .right {
        margin-left: 4rem;
      }

      .proj-demo {
        vertical-align: 0.1rem;

        a {
          margin-right: 0.4rem;

          &:last-child {
            margin-right: 0;
          }

          .fa-desktop {
            font-size: 1rem;
            vertical-align: -1px;
          }
        }
      }

      .proj-lang {
        display: flex;
        justify-content: space-between;
        font-weight: 300;
        font-size: 0.9rem;
        color: @yellow125;
      }

      .proj-screenshot {
        max-width: 43%;
      }
    }
  }
}

.footer-section {
  padding: 1.2rem 0;

  .footer-container {
    max-width: 70%;
    margin: 0 auto;
    text-align: center;

    h2 {
      font-family: 'Work Sans', sans-serif;
      font-weight: 300;
      letter-spacing: 0.03rem;
    }

    div {
      width: 11rem;
      margin: 0 auto;

      a {
        margin-right: 1rem;

        &:last-child {
          margin-right: 0rem;
        }
      }
    }
  }
}

@media (max-width: 1035px) {
  // header section
  .head-section {
    max-width: 90%;

    div.intro-content {
      div.skills-section {
        .skills-lang {
          margin-right: 1rem;
        }
      }
    }
  }
  // work section
  .work-section {
    .work-container {
      max-width: 90%;
    }
  }
}

@media (max-width: 860px) {
  .head-section {
    display: block;
    padding: 3rem 0;

    div.intro-head {
      display: block;
      max-width: 80%;
      margin: 0 auto;
      margin-bottom: 3rem;
    }

    div.intro-content {
      display: block;
      max-width: 70%;
      text-align: center;
      margin: 0 auto;

      p {
        margin-bottom: 3rem;
      }

      div.skills-section {
        .skills-lang {
          margin-right: 0;
          display: block;
        }
      }
    }
  }

  .work-section {
    padding: 3rem 0;

    .work-container {
      h1 {
        text-align: center;
      }

      .proj-container {
        flex-direction: column;
        max-width: 80%;
        margin: 0 auto;

        .proj-screenshot {
          max-width: 100%;
          order: 2;
        }

        .left {
          margin-right: 0;
          margin-bottom: 2rem;
          order: 2;
        }

        .right {
          margin-bottom: 2rem;
          margin-left: 0;
        }
      }
    }
  }
}

@media (max-width: 550px) {
  .head-section {
    div.intro-content {
      max-width: 90%;
    }
  }

  .work-section {
    .work-container {
      .proj-container {
        max-width: 90%;
      }
    }
  }
}

@media (max-width: 450px) {
  .head-section {
    div.intro-head {
      margin-top: 2rem;
    }

    div.intro-content {
      max-width: 100%;

      p {
        margin-bottom: 1rem;
      }
    }
  }

  .work-section {
    .work-container {
      .proj-container {
        max-width: 100%;

        h2 {
          margin-right: 0.5rem;
        }
      }
    }
  }
}
